.pizza {
  display: flex;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;
  justify-content: center;

}

.pizza-element {
  width: 350px;
  border: 1px solid black;
  border-radius: 12px;
  font-family: sans-serif;
  overflow: hidden;

}

.pizza-details {
  padding: 0px 6px;
}

.img {
  max-width: 100%;
}